<h2>Log in</h2>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= link_to "Sign In with Google", user_google_oauth2_omniauth_authorize_path %>
<%= render "devise/shared/links" %>
